name: 'Generate OpenAPI Documentation'
on:
  workflow_run:
    workflows: ['golangci-lint']
    types:
      - completed
    branches:
      - '*'

jobs:
  generate-openapi:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-go@v4
        with:
          go-version: stable

      - name: Install swag
        run: go install github.com/swaggo/swag/cmd/swag@latest

      - name: Generate OpenAPI documentation
        run: swag init -g cmd/main.go

      - name: Check for changes
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add 'docs/*'
          git diff --cached --quiet || git commit -m "Update OpenAPI documentation"

      - name: Push changes
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}

